[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
scipy = "*"
sympy = "*"
matplotlib = "*"
statsmodels = "*"
sklearn = "*"
pandas = "*"
networkx = "*"
jupyter = "*"
ipykernel = "*"
seaborn = "*"
pystan = "*"
arviz = "*"
pymc3 = "*"

[dev-packages]

[requires]
python_version = "3.7"
